.todo-list li label .description {
    word-break: break-all;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-weight: 400;
    color: #4d4d4d;
}

.todo-list li.completed label .description {
    color: #cdcdcd;
    text-decoration: line-through;
}

.todo-list li label .created {
    font-size: 13px;
    color: gray;
}